body{
  min-width: 500px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1{
  color: #030E4F;
}

input[type="text"]{
  width: 300px;
  padding: 8px;
  border: 2px solid #030E4F;
  margin-bottom: 16px;
}

button{
  width: 110px;
  padding: 8px;
  margin: 0px 4px 16px 4px;
  color: #030E4F;
  background-color: #F49F1C;
  border: 2px solid #030E4F;
}

.table-container{
  margin: 8px;
}

table{
  width:95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}

th{
  background-color: #030E4F;
  color: #F49F1C;
}

img{
  width:15px;
  height: 15px;
}
